<%= form_with url: public_genre_search_path, local: true , method: :get do |f| %>
  <div class = "d-flex">
    <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: "ジャンル検索フォーム" } , { class: "form-control col-3 mx-2" } %>
    <%= f.submit "検索", class: "btn btn-success" %>
  </div>
<% end %>