<div class = "container">
  <h2><%= @genre.name %>のレビュー</h2>
  
  <% @reviews.each do |review| %>
    <%= render 'public/reviews/review_list', review: review %>
  <% end %>

  <div class = "d-flex justify-content-center">
    <%= paginate @reviews %>
  </div>
</div>