  <table>
    <tr>
      <td><%= image_tag review.member.image, size:"70x70" %></td>
      <td><%= review.member.name %></td>
    </tr>

    <tr>
      <td><%= link_to review.title, public_review_path(review) %></td>
      <td><%= truncate(review.body, length: 20, omission: "......") %></td>
    </tr>
  </table>