<div class = "container">

  <h1><%= flash[:alert] %></h1>

  <% @reviews.each do |review| %>
    <%= render 'review_list', review: review %>
  <% end %>


  <div class = "d-flex justify-content-center">
    <%= paginate @reviews %>
  </div>
</div>


