<div class = "container">

  <% @reviews.each do |review| %>
    <%= render 'review_list', review: review %>
  <% end %>
</div>

<div class = "d-flex justify-content-around">
  <%= paginate @reviews %>
</div>


