<div class = "container">
  <div class = "mt-2">
    <%= render "public/searches/genre_search_form", review: @review %>
  </div>

  <% @reviews.each do |review| %>
    <%= render 'review_list', review: review %>
  <% end %>


  <div class = "d-flex justify-content-center">
    <%= paginate @reviews %>
  </div>
</div>


