<div class = "container-fulid ml-3">

  <% if flash[:notice] %>
    <h1><%= flash[:notice] %></h1>
  <% else %>
    <h1>ようこそGATSへ！</h1>
  <% end %>

  <div class = "row px-4">
    <div class = "col-5">
      <%= image_tag "GATS_about2.jpg", size: "500x500" %>
    </div>

    <div class = "col-6 ">
      <div class="mb-3">GATSをご利用いただきありがとうございます。<br></div>
      <div class="mb-0">このサイトはあなたがプレイしたゲームソフトのレビューを投稿してプレイの記録としたり、<br></div>
      <div class="mb-3">他ユーザーが投稿を閲覧して追加でゲームソフトを購入する際の判断材料してもらう目的で作成したサイトです。<br></div>
      <div class="mb-3">なお、レビューとユーザーページの閲覧のみログインせず利用できます。レビューの投稿等を行いたい場合はアカウントを作成してください。
    </div>
  </div>
</div>