<div class = "container-fluid px-0">

  <div class = "card w-100 d-flex justify-content-center align-items-center border-0">
    <%= image_tag "GATS_top.png", class: "card-img-top" %>

    <div class = card-title>
      <h3>Welcome to GATS（Gamers All Track System ）, the Review Site!</h3>
    </div>

    <div class="card-body mt-2">
      <h5>新着レビューがあります！<br>
        下にある投稿からレビューをご覧ください！</h5>
    </div>
  </div>
</div>

<div class ="container">
    <% @review.each do |review| %>
      <%= render "public/reviews/review_list", review: review %>
    <% end %>

    <div class ="d-flex justify-content-center">
      <%= link_to "すべてのレビューを見る", public_reviews_path, class: "btn btn-success px-5 my-3"%>
    </div>

</div>


