@use '~bootstrap/scss/bootstrap';

.header_color {
  background-color: #9057FF;
}

.footer_color {
  background-color: #9057FF;
}

.header_btn_color {
  background-color: #DCC2FF;
  border-radius: 6px;
}

.btn.header_btn_color:hover {
  background-color: #C8A9FF;
}

.review_index_color {
  background-color: #DDDDDD;
}

.main_color {
  background-color: #EAD9FF;
}

.member_index_color {
  background-color: #D7EEFF;
}

.comment_index_boder {
  border: 4px solid white;
  border-radius: 0.5rem;
}

#back {
  position: fixed;
  bottom: 20px;
  right: 10px;
}