@use '~bootstrap/scss/bootstrap';

.header_color {
  background-color: #9057FF;
}

.footer_color {
  background-color: #9057FF;
}

.header_btn_color {
  background-color: #DCC2FF;
  border-radius: 6px;
}

.btn.header_btn_color:hover {
  background-color: #C8A9FF;
}

.review_index_color {
  background-color: #DDDDDD;
}

.main_color {
  background-color: #EAD9FF;
}

.member_index_color {
  background-color: #D7EEFF;
}