<div class = "container-fluid" >
  <div class = "row bg-color footer_color d-flex align-items-center" style ="height: 50px;" >
    <% if current_member %>

      <%= link_to "マイページへ", public_mypage_path(@member), class: "btn header_btn_color ml-2" %>
    
    <% elsif current_admin %>

      <%= link_to "トップページへ", admin_root_path, class: "btn header_btn_color ml-2" %>

    
    <% else %>

      <%= link_to "トップページへ", root_path, class: "btn header_btn_color ml-2" %>

    <% end %>

    <div class = "w-50 d-flex justify-content-end">GATS（ Gamers All Track System ）</div>
  </div>
</div>
