<div class = "container-fluid" >
  <div class = "row bg-color footer_color d-flex align-items-center" style ="height: 50px;" >
    <% if signed_in? %>

      <div><%= link_to "マイページへ", public_mypage_path(@member), class: "btn header_btn_color ml-2" %></div>

    <% else %>

      <div><%= link_to "トップページへ", root_path, class: "btn header_btn_color ml-2" %></div>

    <% end %>

    <div class = "w-50 d-flex justify-content-end">GATS（ Gamers All Track System ）</div>
  </div>
</div>
